.pie * {
  color: white !important;
}
.pie text {
  fill: white;
}
.pie path {
  stroke-width: 1px;
  stroke: rgba(255 255 255 /0.5);
}
.pie :global(.apexcharts-legend-marker) {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-right: .35rem;
}
