@tailwind base;
@tailwind components;
@tailwind utilities;

/* *::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

*::-webkit-scrollbar-thumb:hover {
  background: transparent;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.show-scrollbar::-webkit-scrollbar {
  display: block;
}

.show-scrollbar {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

/* Transition for smooth hiding */
.scroll-container {
  transition:
    scrollbar-color 0.3s,
    scrollbar-width 0.3s;
}

@layer base {
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

.border-b-1 {
  border-bottom-width: 1px;
}
