$pryColor: linear-gradient(
  270deg,
  #ffdf00 0%,
  #f6d108 27.6%,
  #edc211 54.17%,
  #e3b419 77.6%,
  #daa521 100%
);

$successColor: #008000;
$failedColor: #ff0000;
$hoverColor: linear-gradient(
  180deg,
  rgba(250, 204, 21, 0.84) 0%,
  rgba(227, 180, 25, 0.77) 55.21%
);
$dashboardCardColor: #242222;
$fontColor: #e8e1dc;

