//media query breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1280px;
//you can add special breakpoints if you need them

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
